@model AppMVCGrupo12.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>@ViewBag.msg</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sueldoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sueldoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to Create", "Create")
</p>
